@import "tailwindcss";

* {
  font-family: Outfit;
}

:root {
  /* Colors */
  --light-hover: #fcf4ff; 
  --dark-hover: #2a004a;
  --dark-theme: #11001f;

  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

/* Tailwind color utilities */
.light-hover:hover {
  background-color: var(--light-hover);
}

.dark-hover {
  background-color: var(--dark-hover);
}

.dark-theme {
  background-color: var(--dark-theme);
}

/* Tailwind font utilities */
.font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
}

/* Shadow utilites */
.shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white:hover {
  box-shadow: 4px 4px 0 #fff;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
