@import "tailwindcss";

* {
  font-family: Outfit;
}

:root {
  /* Colors */
  --light-hover: #fcf4ff; 
  --dark-hover: #2a004a;
  --dark-theme: #11001f;

  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

/* Tailwind color utilities */
.light-hover {
  background-color: var(--light-hover);
}

.dark-hover {
  background-color: var(--dark-hover);
}

.dark-theme {
  background-color: var(--dark-theme);
}

/* Tailwind font utilities */
.font-outfit {
  font-family: var(--font-outfit);
}

.font-ovo {
  font-family: var(--font-ovo);
}
